<div class="pokemonText">
    <p> Date : {{todayDate | date:'medium': 'fr'}} </p>

    <div *ngFor=" let log of pokemonBattleService.log">
        <ul>
            <li> {{ log }}</li>
        </ul>
    </div>
    <ng-container>
      <ng-template [ngIf]="pokemonBattleService.isDead(pokemonBattleService.pokemon2)">
        <div style="color: red">
          {{pokemonBattleService.pokemon2.name}} est K.O !
          <a [routerLink]="['/choose-pokemon']">Choose Pokemon</a>
        </div>
      </ng-template>
      <ng-template [ngIf]="pokemonBattleService.isDead(pokemonBattleService.pokemon1)">
        <div style="color: red">
          {{pokemonBattleService.pokemon1.name}} est K.O !
          <a [routerLink]="['/choose-pokemon']">Choose Pokemon</a>
        </div>
      </ng-template>
    </ng-container>
  </div>
