<div class="image">

<header>
  <img class="logo" title="Reset Game" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon">
</header>
<body>
  <div class="game">
    <div class="opponent">
      <div class="top">

      <div class="stats">
        <div class="pokeballs">
          <div class="pokeball"></div>
        </div>
        <div class="hp-count">
          100
        </div>
        <span class="name">
         Draco
        </span>
        <span class="level">
          86
        </span>
        </div>
      </div>
      <img class="pokemon" src="http://bit.ly/charizardgif" />
    </div>

    <div class="player">
      <img class="pokemon" src="http://bit.ly/blastoisegif" />
      <div class="stats">
        <div class="top">
          <div class="pokeballs">
            <div class="pokeball"></div>
          </div>
          <div class="hp-count">
            100
          </div>
          <span class="name">
           Tortank
          </span>
          <span class="level">
            99
          </span>
       </div>
      </div>
    </div>
  </div>
</body>




