<h1> {{ title }}</h1>

<button (click)="pokemonBattleService.playGame()"> 
  <ng-template [ngIf]="pokemonBattleService.play == true">Pause</ng-template>
  <ng-template [ngIf]="pokemonBattleService.play == false">Play</ng-template>
</button>

<div> {{ pokemonBattleService.pokemon1.name }} : {{ pokemonBattleService.pokemon1.max_hp }} HP.</div>
<div> {{ pokemonBattleService.pokemon2.name }} : {{ pokemonBattleService.pokemon2.max_hp }} HP.</div>
<ng-template ngFor [ngForOf]="pokemonBattleService.log" let-log><li> {{ log }}</li></ng-template>

<ng-template [ngIf]="pokemonBattleService.pokemon1.hp == 0">
  <div [ngStyle]="{'background-color': pokemonBattleService.loserColor}">{{ pokemonBattleService.pokemon1.name }} a perdu.</div> 
  <div [ngStyle]="{'background-color': pokemonBattleService.winnerColor}">Le vainqueur est {{ pokemonBattleService.pokemon2.name }}.</div>
</ng-template>
<ng-template [ngIf]="pokemonBattleService.pokemon2.hp == 0">
  <div [ngStyle]="{'background-color': pokemonBattleService.loserColor}">{{ pokemonBattleService.pokemon2.name }} a perdu.</div>
  <div [ngStyle]="{'background-color': pokemonBattleService.winnerColor}">Le vainqueur est {{ pokemonBattleService.pokemon1.name }}.</div>
</ng-template>
